@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .none {
    display: none;
  }
}
@layer utilities {
  .bg__hero-img {
    position: relative;
    font-size: 1rem;
  }
  @media screen and (max-width: 1536px) {
    .bg__hero-img {
      font-size: 0.89rem;
    }
  }
  @media screen and (max-width: 768px) {
    .bg__hero-img {
      font-size: 0.8rem;
    }
  }
  @media screen and (max-width: 375px) {
    .bg__hero-img {
      font-size: 0.6rem;
    }
  }
  .bg__hero-img::before {
    content: "";
    position: absolute;
    background-color: hsl(231, 69%, 60%);
    width: 28em;
    height: 16.5em;
    right: -7px;
    border-radius: 8.4em 0 0 8.4em;
    bottom: 0;
  }
  .tablist-item-wrapper {
    @apply w-full text-center border-b-gray-400 border-solid border-b-[1px] xl:w-auto xl:border-b-0;
  }
  .tablist-item {
    @apply relative p-4 px-6  after:content-[''] after:absolute after:inset-0 after:border-b-transparent after:border-b-4 after:border-solid hover:text-soft-red;
  }
  .tablist-item.active {
    @apply text-very-dark-blue after:border-b-soft-red;
  }
}
